[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/OpenZeppelin-Contracts"]
	path = lib/OpenZeppelin-Contracts
	url = https://github.com/OpenZeppelin/OpenZeppelin-Contracts
